
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.chat_app {
  width: 60vw;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 20px;
  overflow:auto;
}
.chat {
  height: 60vh;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: #7a7a7a #f5f5f5;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #7a7979; 
  border-radius: 5px;
}
.chat::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
.chatInput {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

.changeOptions {
  margin-top: 5px;
}

button {
  margin-right: 10px;
}

.chatmessage {
  border: 1px solid #ece9e9;
  background-color: #eaf1f7;
  border-radius: 10px;
  padding: 6px;
  margin: 5px 0;
}
