
.register_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .register_page div {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .register_page input[type="textbox"] {
    width: 300px;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register_page button {
    padding: 10px 20px;
    margin-top:20px; ;
    background-color: #186ad6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .register_page button:hover {
    background-color: #0056b3;
  }